/* ConfirmationDialog.css */
.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100; /* Ensure dialog appears above other elements */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out; /* Add smooth transition */
  }
  
  .confirmation-dialog.open {
    opacity: 1;
    visibility: visible;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .button-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  