.gradient__text h1{
    font-size: 50px;
    text-align: center;
    font-family: var(--font-family);
    padding:1rem;
}

.container_create_tender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; /* Removed auto margin */
    width: 100%; /* Adjust width as needed */
    margin: 0 4rem; /* Center horizontally */
}
.butone.submit:disabled {
  background-color: #c73d1e9d !important;
  border: none;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  margin: 2rem 0;
}

.button {
  flex: 0.6;
  width: 50px;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center; /* Align text to the right */
  background: #ff4820;
  border: 2px solid #ff4820;
  padding: 0.75rem 0.5rem; /* Adjust padding to ensure text is centered horizontally */
  color: #fff;
  cursor: pointer;
  outline: none;
  margin: 0 10px;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: #ac1f00;
  border: 2px solid #ac1f00;
}

.button.cancel {
  background-color: #fa142b;
  border-color: #ac1f00;
}

/* createtender-table.css */
.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th {
  background-color: var(--color-bg);
  padding: 8px;
  border: 2px solid var(--color-footer); /* Using color-text for borders */
  border-radius: 10px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.table-container td {
  padding: 8px;
  border: 1px solid var(--color-text); /* Using color-text for borders */
  text-align: center;
  font-size: 1rem;      
  background-color: var(--color-bg);
  padding: 8px;
  border: 2px solid var(--color-footer); /* Using color-text for borders */
  border-radius: 10px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.table-container th {
  background-color: var(--color-blog); /* Background color for table header */
}
/* second table  */
.condition{
  width: 20%;
  margin: 1rem;
}
.condition-field{
  margin: 1rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
textarea {
  width: 100%;
  color: var(--color-text);
  border-radius: 10px;
  border: 0px solid var(--color-text);
  font-family: var(--font-family);
  background-color: var(--color-footer); /* Define background color */
  resize: none;  
  max-lines: 9;
  padding-top: 7px;
}

/* th, td { */
  /* padding: 8px; */
  /* border: 2px solid var(--color-footer);  */
  /* border-radius: 10px; */
  /* text-align: center; */
  /* font-family: var(--font-family); */
  /* font-weight: 500; */
  /* font-size: 16px; */
  /* line-height: 30px; */
  /* color: #ffffff; */
/* } */
input[readonly],textarea[readonly]{
  overflow: hidden;
    background-color:var(--color-bg);
    border: 0;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0; /* Optional: Remove default margin */
}

.admin {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}
.condition-section {
  display: flex; /* Arrange conditions horizontally */
  flex-direction: column; /* Stack conditions vertically */
}

.condition-field {
  margin-bottom: -15px;
  display: flex;
  align-items: center; /* Align index and input vertically */
  gap: 0.5rem; /* Add a small gap between index and input */
}
.private-condition-field {
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  
  align-items: center; /* Align index and input vertically */
  gap: 0.5rem; /* Add a small gap between index and input */
}

.condition-index {
  font-size: large;
  color: var(--color-text);
  font-family: var(--font-family);
  
}

.private-condition-input {
  padding: 0.5rem; /* Add some padding for readability */
}